/*------------------ index.html page styling----------------------*/
body{
  color: azure;
}
.indexTitle{
  width: 716px;
  height: 80px;
  margin-left: 30%;
  margin-top: 1%;
  /* background-color: rebeccapurple; */
}
.indexTitle > h1{
  font-size: 38px;
  font-weight: bold;
  font-family: 'Slabo 27px', serif;
}
.indexTitle > p{
  font-size: 18px;
  margin-top: 6px;
  margin-left: 23%;
  font-family: 'Slabo 27px', serif;
  opacity: 0.8
}

.indexInstructions > p{
  width: 80%;
  height: 100%;
  margin-top: 2%;
  margin-left: 8%;
  margin-bottom: 2%;
  font-size: 20px;
}

.indexRules{
  width: 70%;
  height: 200px;
  font-size: 20px;
  margin-left: 8%;
  margin-top: 4%;
}
.indexRules > h2{
  font-weight: bold;
}
.indexRules > ul{
  margin-top: 2%;
  margin-left: 20px;
}
.indexRules > ul > li{
  margin-bottom: 10px;
}

.star_input_data_box{
  width: 370px;
  height: 180px;
  margin-left: 33%;
}
.star_input_element{
  float: right;
  margin-bottom: 20px;
}
.number_of_stars > label > input{
  width: 64px;
}
.submit_button{
  width: 199px;
  margin-top: 40px;
  margin-right: -199px;
}

footer{
  margin-left: 90%;
}
.author_button{
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
